@import "tailwindcss";


@theme {
  /* Plain Theme */
  --color-plain-primary: #1E1A3A;
  --color-plain-secondary: #D0D7E1;
  --color-plain-accent: #D0D7E1;
  --color-plain-background: #FFFFFF;
  --color-plain-foreground: #2C2A3B;
  --color-plain-muted: #D0D7E1;
  --color-plain-muted-foreground: #3A4C67;

  /* Pastel Theme */
  --color-pastel-primary: #5CC7D1;
  --color-pastel-secondary: #9E7CC6;
  --color-pastel-accent: #D178D1;
  --color-pastel-background: #F4F8A6;
  --color-pastel-foreground: #2C2A3B;
  --color-pastel-muted: #D0D7E1;
  --color-pastel-muted-foreground: #3A4C67;

  /* High Contrast Theme */
  --color-high-contrast-primary: #36D700;
  --color-high-contrast-secondary: #000000;
  --color-high-contrast-accent: #36D700;
  --color-high-contrast-background: #FFFFFF;
  --color-high-contrast-foreground: #000000;
  --color-high-contrast-muted: #E6E6E6;
  --color-high-contrast-muted-foreground: #666666;

  /* Common Colors */
  --color-destructive: #F04837;
  --color-destructive-foreground: #ffffff;
  --color-border: #A3B4D2;
  --color-input: #A3B4D2;
  --color-ring: #2C2A3B;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
